.navbar {
  position: relative;
  z-index: 20;
}
.navbar-navigation {
  display: flex;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  left: -50vw;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
@media (max-width: 800px) {
  .navbar-navigation-left {
    display: none;
  }
}
.navbar-navigation-left .left-img {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  border-radius: 10px;
}
@media (max-width: 1300px) {
  .navbar-navigation-left .left-img {
    width: 55%;
  }
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img {
    width: 65%;
  }
}
.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-1 {
    left: 5%;
  }
}
.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-2 {
    left: 15%;
  }
}
.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-3 {
    left: 25%;
  }
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #1d1d1d;
  position: fixed;
  right: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
@media (max-width: 800px) {
  .navbar-navigation-right {
    width: 100vw;
    right: -100vw;
  }
}
.navbar-navigation .nav-list-item {
  list-style: none;
}
.navbar-navigation .nav-list-link {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #bbb;
  text-decoration: none;
  display: block;
  margin: 20px;
  text-align: center;
  transition: all 0.5s;
}
.navbar-navigation .nav-list-link:hover {
  color: #d3ab55;
  letter-spacing: 4px;
}
@media (max-width: 600px) {
  .navbar-navigation .nav-list-link {
    font-size: 40px;
  }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

.header {
  background: center no-repeat url("../images/bg.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header::before {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}
.header .brand {
  flex: 2;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #bbb;
}
.header .brand .logo img {
  width: 120px;
  border: 2px solid #d3ab55;
  border-radius: 50%;
}
.header .brand .main-name {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 40px;
}
.header .brand .sub-name {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
}
.header-banner {
  flex: 4;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: #bbb;
}
.header-banner .main-heading {
  font-size: 80px;
  color: #d3ab55;
  font-family: "Dancing Script", cursive;
}
.header-banner .sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 50px;
}
.header-banner .main-btn {
  background: transparent;
  border: 2px solid #d3ab55;
  color: #d3ab55;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 30px;
  transition: all 0.5s ease;
}
.header-banner .main-btn:hover {
  background: #d3ab55;
  color: #262626;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #262626;
  color: #bbb;
  height: 80vh;
}
.about-us .about-us-left {
  flex: 1;
  position: relative;
  right: 10%;
}
.about-us .about-us-left img {
  width: 500px;
}
.about-us .about-us-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 0 150px;
}
.about-us .about-us-right .main-heading {
  color: #d3ab55;
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  font-weight: normal;
}
.about-us .about-us-right .sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 50px;
}
.about-us .about-us-right .stars {
  color: #d3ab55;
  margin: 10px 0;
}
.about-us .about-us-right .description {
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
}
.about-us .about-us-right .main-btn {
  background: transparent;
  border: 2px solid #d3ab55;
  color: #d3ab55;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 30px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.about-us .about-us-right .main-btn:hover {
  background: #d3ab55;
  color: #262626;
}

.gallery {
  position: relative;
  height: 100%;
}
.gallery .cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.gallery .cards-wrapper .card {
  position: relative;
  overflow: hidden;
  height: 450px;
}
.gallery .cards-wrapper .card:hover .card-overlay {
  left: 0;
}
.gallery .cards-wrapper .card-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #d3ab5588;
  height: 100%;
  width: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease;
}
.gallery .cards-wrapper .card-overlay-heading {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 50px;
}
.gallery .cards-wrapper .card-overlay-paragraph {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 30px;
}
.gallery .cards-wrapper .card-overlay-btn {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #d3ab55;
  background: #fff;
  border: none;
  padding: 10px;
  border-radius: 20px;
  width: 150px;
}
.gallery .cards-wrapper .card-img {
  width: 150%;
  height: 450px;
  transform: translateX(-18%);
  cursor: pointer;
}

.footer {
  position: relative;
  background: #262626;
  height: 50vh;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  align-items: center;
}
.footer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #bbb;
}
.footer-header .logo img {
  width: 120px;
  border: 2px solid #d3ab55;
  border-radius: 50%;
}
.footer-header .main-name {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 40px;
}
.footer-header .sub-name {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: lighter;
}
.footer-social-media .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer-social-media .social-media-item {
  list-style: none;
}
.footer-social-media .social-media-link {
  color: #bbb;
  font-size: 50px;
  transition: all 0.5s ease;
}
.footer-social-media .social-media-link:hover {
  color: #d3ab55;
}
.footer-copyright-paragraph {
  color: #bbb;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
